@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Status>;

<h1>Statuses</h1>

@if (Model.Count() == 0)
{
  <h3>You have not added any machine statuses yet</h3>
}

@foreach (Status status in Model)
{
  <li>@Html.ActionLink($"{status.StatusName}", "Details", new { id = status.StatusId })</li>
}

<p>@Html.ActionLink("Add a new status", "Create")</p>