@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add engineer</h1>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.EngineerName)
    @Html.TextBoxFor(model => model.EngineerName)
    <input type="submit" value="add" class="btn btn-warning"/>
  </div>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("See all engineers", "Index")</p>