  
@{
  Layout = "_Layout";
}
<div id="firstBackground">
<h1>Welcome to our factory.</h1>
<p>@Html.ActionLink("View Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("View Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Add machine status", "Index", "Statuses")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
</div>