  
@{
  Layout = "_Layout";
}

<h1>Welcome to the Thneed Factory</h1>
<p>@Html.ActionLink("View machines", "Index", "Machines")</p>
<p>@Html.ActionLink("View Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Add a machine status", "Index", "Statuses")</p>